App_WebReferences/MociServiceReference/OrdersAdmission.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdmissionDeptTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdmissionDeptTable" nillable="true" type="tns:AdmissionDeptTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdmissionDeptTable" nillable="true" type="tns:ArrayOfAdmissionDeptTable" />
  <xs:complexType name="AdmissionDeptTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmissionNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeptNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdmissionDeptTable" nillable="true" type="tns:AdmissionDeptTable" />
  <xs:complexType name="ArrayOfStatusTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusTable" nillable="true" type="tns:StatusTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusTable" nillable="true" type="tns:ArrayOfStatusTable" />
  <xs:complexType name="StatusTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmissionNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeptNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deptHdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recHdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusTable" nillable="true" type="tns:StatusTable" />
</xs:schema>