App_WebReferences/MociServiceReference/PrintAdmission5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BooksAdmissionLib.OverridedForServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BooksAdmissionLib.OverridedForServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.media.gov.sa/KFNL/BookSystem/KFNL/PrintAdmission.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfWSPrintPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WSPrintPermission" nillable="true" type="tns:WSPrintPermission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWSPrintPermission" nillable="true" type="tns:ArrayOfWSPrintPermission" />
  <xs:complexType name="WSPrintPermission">
    <xs:sequence>
      <xs:element minOccurs="0" name="AboutBook" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdmissionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdmissionFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdmissionNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdmissionStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicaintBirthdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicaintEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicaintMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicaintName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicaintNationalityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Authors" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AuthorsLastThenFirst" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="BookTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detectors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditionNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagesNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publishers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Translators" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSPrintPermission" nillable="true" type="tns:WSPrintPermission" />
</xs:schema>