App_WebReferences/MociServiceReference/PrintAdmission.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InfoServicesWeb.BookSystem.KFNL.PrintAdmission" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wsSecureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://services.moci.gov.sa/KFNL/BookSystem/KFNL/PrintAdmission.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://services.moci.gov.sa/KFNL/BookSystem/KFNL/PrintAdmission.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://services.moci.gov.sa/KFNL/BookSystem/KFNL/PrintAdmission.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BooksAdmissionLib.OverridedForServices" />
      <xsd:import schemaLocation="https://services.moci.gov.sa/KFNL/BookSystem/KFNL/PrintAdmission.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://services.moci.gov.sa/KFNL/BookSystem/KFNL/PrintAdmission.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrintAdmission_OrdersListNeedISBN_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdersListNeedISBN" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_OrdersListNeedISBN_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdersListNeedISBNResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_OrdersListNeedDepositNo_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdersListNeedDepositNo" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_OrdersListNeedDepositNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdersListNeedDepositNoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetPrintAdmissionInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintAdmissionInfo" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetPrintAdmissionInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintAdmissionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetDeptISBNByAdmissionNO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeptISBNByAdmissionNO" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetDeptISBNByAdmissionNO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeptISBNByAdmissionNOResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetStatusAdmissionNO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusAdmissionNO" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetStatusAdmissionNO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusAdmissionNOResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetCertbyAdmissionNO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertbyAdmissionNO" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetCertbyAdmissionNO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertbyAdmissionNOResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetRegisterBookKFNL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegisterBookKFNL" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetRegisterBookKFNL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegisterBookKFNLResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetBookTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookTypes" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_GetBookTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_PropertyChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:PropertyChanged" />
  </wsdl:message>
  <wsdl:message name="IPrintAdmission_PropertyChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:PropertyChangedResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrintAdmission">
    <wsdl:operation name="OrdersListNeedISBN">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintAdmission/OrdersListNeedISBN" message="tns:IPrintAdmission_OrdersListNeedISBN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintAdmission/OrdersListNeedISBNResponse" message="tns:IPrintAdmission_OrdersListNeedISBN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdersListNeedDepositNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintAdmission/OrdersListNeedDepositNo" message="tns:IPrintAdmission_OrdersListNeedDepositNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintAdmission/OrdersListNeedDepositNoResponse" message="tns:IPrintAdmission_OrdersListNeedDepositNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintAdmissionInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintAdmission/GetPrintAdmissionInfo" message="tns:IPrintAdmission_GetPrintAdmissionInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintAdmission/GetPrintAdmissionInfoResponse" message="tns:IPrintAdmission_GetPrintAdmissionInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptISBNByAdmissionNO">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintAdmission/GetDeptISBNByAdmissionNO" message="tns:IPrintAdmission_GetDeptISBNByAdmissionNO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintAdmission/GetDeptISBNByAdmissionNOResponse" message="tns:IPrintAdmission_GetDeptISBNByAdmissionNO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusAdmissionNO">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintAdmission/GetStatusAdmissionNO" message="tns:IPrintAdmission_GetStatusAdmissionNO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintAdmission/GetStatusAdmissionNOResponse" message="tns:IPrintAdmission_GetStatusAdmissionNO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertbyAdmissionNO">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintAdmission/GetCertbyAdmissionNO" message="tns:IPrintAdmission_GetCertbyAdmissionNO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintAdmission/GetCertbyAdmissionNOResponse" message="tns:IPrintAdmission_GetCertbyAdmissionNO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegisterBookKFNL">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintAdmission/GetRegisterBookKFNL" message="tns:IPrintAdmission_GetRegisterBookKFNL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintAdmission/GetRegisterBookKFNLResponse" message="tns:IPrintAdmission_GetRegisterBookKFNL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintAdmission/GetCountries" message="tns:IPrintAdmission_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintAdmission/GetCountriesResponse" message="tns:IPrintAdmission_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintAdmission/GetBookTypes" message="tns:IPrintAdmission_GetBookTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintAdmission/GetBookTypesResponse" message="tns:IPrintAdmission_GetBookTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PropertyChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintAdmission/PropertyChanged" message="tns:IPrintAdmission_PropertyChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintAdmission/PropertyChangedResponse" message="tns:IPrintAdmission_PropertyChanged_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSecureService" type="tns:IPrintAdmission">
    <wsp:PolicyReference URI="#wsSecureService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OrdersListNeedISBN">
      <soap12:operation soapAction="http://tempuri.org/IPrintAdmission/OrdersListNeedISBN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrdersListNeedDepositNo">
      <soap12:operation soapAction="http://tempuri.org/IPrintAdmission/OrdersListNeedDepositNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintAdmissionInfo">
      <soap12:operation soapAction="http://tempuri.org/IPrintAdmission/GetPrintAdmissionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptISBNByAdmissionNO">
      <soap12:operation soapAction="http://tempuri.org/IPrintAdmission/GetDeptISBNByAdmissionNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusAdmissionNO">
      <soap12:operation soapAction="http://tempuri.org/IPrintAdmission/GetStatusAdmissionNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertbyAdmissionNO">
      <soap12:operation soapAction="http://tempuri.org/IPrintAdmission/GetCertbyAdmissionNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegisterBookKFNL">
      <soap12:operation soapAction="http://tempuri.org/IPrintAdmission/GetRegisterBookKFNL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap12:operation soapAction="http://tempuri.org/IPrintAdmission/GetCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookTypes">
      <soap12:operation soapAction="http://tempuri.org/IPrintAdmission/GetBookTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PropertyChanged">
      <soap12:operation soapAction="http://tempuri.org/IPrintAdmission/PropertyChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfoServicesWeb.BookSystem.KFNL.PrintAdmission">
    <wsdl:port name="wsSecureService" binding="tns:wsSecureService">
      <soap12:address location="https://services.moci.gov.sa/KFNL/BookSystem/KFNL/PrintAdmission.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://services.moci.gov.sa/KFNL/BookSystem/KFNL/PrintAdmission.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>