App_WebReferences/MociServiceReference/PrintAdmission3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://services.moci.gov.sa/KFNL/BookSystem/KFNL/PrintAdmission.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BooksAdmissionLib.OverridedForServices" />
  <xs:import schemaLocation="https://services.moci.gov.sa/KFNL/BookSystem/KFNL/PrintAdmission.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="https://services.moci.gov.sa/KFNL/BookSystem/KFNL/PrintAdmission.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="OrdersListNeedISBN">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersListNeedISBNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BooksAdmissionLib.OverridedForServices" minOccurs="0" name="OrdersListNeedISBNResult" nillable="true" type="q1:ArrayOfWSPrintPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersListNeedDepositNo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersListNeedDepositNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BooksAdmissionLib.OverridedForServices" minOccurs="0" name="OrdersListNeedDepositNoResult" nillable="true" type="q2:ArrayOfWSPrintPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintAdmissionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdmissionNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintAdmissionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BooksAdmissionLib.OverridedForServices" minOccurs="0" name="GetPrintAdmissionInfoResult" nillable="true" type="q3:WSPrintPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptISBNByAdmissionNO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdmissionNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptISBNByAdmissionNOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDeptISBNByAdmissionNOResult" nillable="true" type="q4:ArrayOfAdmissionDeptTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusAdmissionNO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdmissionNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusAdmissionNOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetStatusAdmissionNOResult" nillable="true" type="q5:ArrayOfStatusTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertbyAdmissionNO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdmissionNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertbyAdmissionNOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCertbyAdmissionNOResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisterBookKFNL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdmissionNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisterBookKFNLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRegisterBookKFNLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCountriesResult" nillable="true" type="q6:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBookTypesResult" nillable="true" type="q7:ArrayOfKeyValueOfguidstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertyChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdmissionNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertyChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PropertyChangedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>